<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div id="root">
        <header class="header">
            <button class="button basket-button" @click="cardOpen">Корзина</button>
            <div class="cardBox" v-if="isCardVisible"> 
               <div class="cardWrapper">
                    <button class="closeBtn" @click="cardClose">X</button>
               </div>
            </div>
            <form action="">
                <input type="text" class="search-input" v-model="searchValue">
                <!-- <button class="button button-search">Search</button> -->
            </form>
        </header>
        <main>
            <div class="goods">
                <div class="goods-item" v-for="item in filtredItems">
                    <img src="" alt=""> 
                    <h3>{{item.product_name}}</h3>
                    <p>{{item.price}}</p>
                </div>
            </div>
        </main>    
    </div>



</body>
</html>